@page {
    /* size: 7in 9.25in; */
    size: A4;
    margin: 0;
}

* {
    /* -webkit-print-color-adjust: exact !important;
    color-adjust: exact !important; */
    box-sizing: border-box;
}


html {
    height: -webkit-fill-available;
}

body {
    height: 100%;
    min-height: 100vh;
    min-height: -webkit-fill-available;
}

html,
body {
    background-color: #cecece;
}



div {
    position: relative;
}

ul,
ol {
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
}

.innerWrapper.container {
    padding: 0;
}

html,
body,
#mainContent {
    height: 100%;
}

html,
body {
    font-size: 12.5px;
}

#mainContent {
    /* Preview = font-size 12.5px */
    width: 1240px;
    height: 1754px;

    margin: 0 auto;
}

@media print {
    .calendar {
        page-break-inside: avoid;
        page-break-after: always;
    }

    @page {
        /*size A3 DPI 300: 3508px 4961px;*/
        /*size A4 DPI 300: 2480px 3508px;*/
        size: 3508px 4961px;
        margin: 0;
    }

    #mainContent {
        /* A3 DPI 300 = font-size 35.36px */
        /* A4 DPI 300 = font-size 25px */
        width: 3508px;
        height: 4961px;

        margin: 0 auto;
    }

    html,
    body {
        font-size: 35.36px;
    }
}



/* Calendar layout */

.calendar {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    background: #fff;
}

.calendar-cover img {
    width: 100%;
    height: auto;
}

.calendar-header {
    width: 100%;
    flex: 0 1 auto;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.calendar-header .overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: auto;
    display: flex;
    padding: 1.5rem 4rem;
    background: linear-gradient(#0000, #0004 30%, #0009);
    display: flex;
    justify-content: space-between;
}

.calendar-header .overlay .header-month {
    background: #fffb;
    border: 1px #ccc solid;
    border-radius: 1rem;
    padding: 0.5rem 1rem;
}

.calendar-header .overlay .header-month .label {
    font-size: 1rem;
    font-weight: bold;
    padding-bottom: 0.3rem;
    border-bottom: 1px solid #fffb;
    margin-bottom: 0.5rem;
    letter-spacing: 0.1rem;
    display: flex;
    justify-content: space-between;
}

.calendar-header .overlay .header-month .days,
.calendar-header .overlay .header-month .weekdays {
    display: grid;
    text-align: center;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: auto;
    gap: 0 10px;
    font-size: 1rem;
}

.calendar-header .overlay .header-month .weekdays {
    font-weight: bold;
}

.calendar-header .day-item.prev-month *,
.calendar-header .day-item.next-month * {
    color: #777 !important;
}






.calendar .color-red {
    color: #c90202;
}




.calendar-content {
    margin-top: 2rem;
    padding-left: 4rem;
    padding-right: 4rem;
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
}

.calendar-footer {
    padding: 0 30px;
    margin: 1.5rem 0;
    flex: 0 1 auto;
    background: #fff;
}

.calendar-footer img {
    width: 100%;
    height: auto;
}

/* Header */

.calendar-header .outer-wrapper {
    width: 100%;
    padding-bottom: 60%;
}

.calendar-header .inner-wrapper {
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
}

.calendar-header .image {
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

/* Content */

.calendar-content-header {
    flex: 0 1 auto;
    display: flex;
    justify-content: space-between;
    margin-top: 1rem;
    padding-bottom: 2rem;
}

.calendar-content-header .year {
    display: flex;
    align-items: center;
}

.calendar-content-header .year .zh {
    font-size: 3rem;
    letter-spacing: 0.5rem;
}

.calendar-content-header .year .de {
    font-size: 2.5rem;
    letter-spacing: 0.5rem;
    text-transform: uppercase;
    margin-left: 1rem;
    color: #777;
}




.bible-verse {
    color: #333;
    position: relative;
    flex: 1 1 auto;
    text-align: right;
    font-size: 1.5rem;
}

.bible-verse-wrapper {
    
}

.bible-verse .bible-verse-text {
    
}

.bible-verse .bible-verse-source {
    color: #777;
    letter-spacing: 0.1rem;
    margin-top: 0.4rem;
    font-size: 1.5rem;
}




.calendar-weekdays {
    flex: 0 1 auto;
}

.calendar-weekdays .weekdays {
    display: grid;
    text-align: center;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: 5rem;
}

.calendar-weekdays .weekday-item {
    width: 100%;
    height: 100%;
    background: #0D1282bb;
    color: #fff;
    font-size: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.calendar-weekdays .weekday-item.weekend {
    background: #D71313;
}

.calendar-days {
    flex: 1 1 auto;
    height: 100%;
    border: 1px solid #ccc;
    border-top: none;
}

.calendar-days .days {
    height: 100%;
    display: grid;
    text-align: center;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: auto;
}

.calendar-days .day-item {
    margin: auto;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.03);
    position: relative;
    border: 0.5px solid #ccc;
}

.calendar-days .day-item .day {
    position: absolute;
    right: 1.2rem;
    top: 1rem;
    font-size: 1.8rem;
}

.calendar-days .day-item .lunar-day {
    text-align: left;
    position: absolute;
    top: 1.3rem;
    left: 1.2rem;
    font-size: 1.4rem;
}

.calendar-days .day-item .holiday {
    text-align: right;
    position: absolute;
    right: 1.2rem;
    left: 1.2rem;
    top: 3.6rem;
    font-size: 1.2rem;
}

.calendar-days .day-item.prev-month *,
.calendar-days .day-item.next-month * {
    color: #999 !important;
}

.calendar-days .day-item .events {
    text-align: right;
    position: absolute;
    right: 1.2rem;
    left: 1.2rem;
    bottom: 1rem;
    line-height: 1.2;
    font-size: 0.9rem;
    color: #333;
}

/*
.calendar-days .day-item.prev-month .events,
.calendar-days .day-item.next-month .events {
    display: none;
}
*/




/**
 * special styles
 */
.day-item-2022-01-01 .event-weekly,
.day-item-2022-05-08 .event-weekly,
.day-item-2022-06-04 .event-weekly,
.day-item-2022-08-20 .event-weekly,
.day-item-2022-09-11 .event-weekly,
.day-item-2022-12-10 .event-weekly,
.day-item-2022-12-24 .event-weekly,
.day-item-2022-12-30 .event-weekly,
.day-item-2022-12-31 .event-weekly {
    /* display: none; */
}

.day-item-2022-04-17 .event-yearly:first-child {
    /* color: #c90202; */
}